### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head(25)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,132,Persuasion,3.19

## Player Count

* Display the total number of players

In [2]:
Unique_Players_df = purchase_data_df.groupby('SN').first().reset_index()

Total_Players = len(Unique_Players_df)
Dict_Players = {'Total Players': [Total_Players]}
Players_df = pd.DataFrame.from_dict(Dict_Players)
Players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique_Items = purchase_data_df["Item ID"].nunique()
Average_Price = purchase_data_df["Price"].mean()
Number_Purchase = len(purchase_data_df)
Total_Revenue = purchase_data_df["Price"].sum()

In [4]:
Dict_Purchasing = {
    'Number of Unique Items': [Unique_Items],
    'Average Price': [Average_Price],
    'Number of Purchases': [Number_Purchase],
    'Total Revenue': [Total_Revenue]}


Analysis_df = pd.DataFrame.from_dict(Dict_Purchasing)
pd.options.display.float_format = '${:.2f}'.format
Analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
Bros = Unique_Players_df.loc[Unique_Players_df['Gender']== 'Male', 'Price'].count()
Gals = Unique_Players_df.loc[Unique_Players_df['Gender']== 'Female', 'Price'].count()
Non = Unique_Players_df.loc[Unique_Players_df['Gender']== 'Other / Non-Disclosed', 'Price'].count()

Percent_Bros = Bros/Total_Players
Percent_Gals = Gals/Total_Players
Percent_Non = Non/Total_Players

gender_data = {'Gender': ["Male", "Female", "Other/Non-Disclosed"],
                'Total Count': [Bros, Gals, Non],
                'Percentage of Players': [Percent_Bros, Percent_Gals, Percent_Non]}
gender_df = pd.DataFrame(gender_data,columns = ['Gender','Total Count','Percentage of Players'])
gender_df['Percentage of Players'] = pd.Series(["{0:.2f}%".format(val*100)for val in gender_df['Percentage of Players']], index = gender_df.index)

gender_df

                Gender  Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
guys = purchase_data_df.loc[purchase_data_df['Gender']== 'Male', 'Price'].count()
dolls = purchase_data_df.loc[purchase_data_df['Gender']== 'Female', 'Price'].count()
other = purchase_data_df.loc[purchase_data_df['Gender']== 'Other / Non-Disclosed', 'Price'].count()

guys_sum = purchase_data_df.loc[purchase_data_df['Gender']== 'Male', 'Price'].sum()
dolls_sum = purchase_data_df.loc[purchase_data_df['Gender']== 'Female', 'Price'].sum()
other_sum = purchase_data_df.loc[purchase_data_df['Gender']== 'Other / Non-Disclosed', 'Price'].sum()

guys_avg_purchase = guys_sum/ guys
dolls_avg_purchase = dolls_sum/ dolls
other_avg_purchase = other_sum/ other

guys_Avg_total_Purchase = guys_sum/ Bros
dolls_Avg_total_Purchase = dolls_sum/ Gals
other_Avg_total_Purchase = other_sum/ Non

gender_Purchase_data = {'Gender': ["Male", "Female", "Other/Non-Disclosed"],
                        'Purchase Count': [dolls, guys, other],
                        'Average Purchase Price': [dolls_avg_purchase, guys_avg_purchase, other_avg_purchase],
                        'Total Purchase Value': [dolls_sum, guys_sum, other_sum],
                        'Avg Total Purchase per Person': [dolls_Avg_total_Purchase, guys_Avg_total_Purchase, other_Avg_total_Purchase]}
gender_Purchase_df = pd.DataFrame(gender_Purchase_data,columns = ['Gender','Purchase Count','Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person'])

pd.options.display.float_format = '${:.2f}'.format
gender_Purchase_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,113,$3.20,$361.94,$4.47
1,Female,652,$3.02,$1967.64,$4.07
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [-np.inf, 9, 14, 19, 24, 29, 34, 39, np.inf]
group_Labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]
pd.cut(Unique_Players_df["Age"], bins, labels=group_Labels).head()

Unique_Players_df["View Group"] = pd.cut(Unique_Players_df["Age"], bins, labels=group_Labels)
Age_Group_df = Unique_Players_df.groupby("View Group")

Age_Total_Count = Age_Group_df["Age"].count()
Age_Percent = (Age_Total_Count / Total_Players) * 100

pd.options.display.float_format = '{:.2f}%'.format

Demographics_df =pd.DataFrame({
    "Total Count": Age_Total_Count,
    "Percentage of Players": Age_Percent})
Demographics_df

            Total Count  Percentage of Players
View Group
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
purchase_data_df["Purchasing Analysis"] = pd.cut(purchase_data_df["Age"], bins, labels=group_Labels)
Purchasing_df = purchase_data_df.groupby("Purchasing Analysis")

Purchase_Count = Purchasing_df["Purchase ID"].count()
Avg_Purchase_Price = Purchasing_df["Price"].mean()
Total_Purchase_Value = Purchasing_df["Price"].sum()
Avg_Total_Purchase = Total_Purchase_Value/ Age_Total_Count

Age_Purchasing_df =pd.DataFrame({
                                "Purchase Count": Purchase_Count,
                                "Average Purchase Price": Avg_Purchase_Price,
                                "Total Purchase Value": Total_Purchase_Value,
                                "Average Total Purchase per Person": Avg_Total_Purchase})

pd.options.display.float_format = '${:.2f}'.format
Age_Purchasing_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Purchasing Analysis,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
Top_Spenders = purchase_data_df.groupby("SN")

Spender_Count = Top_Spenders["SN"].count()
Spender_Total = Top_Spenders["Price"].sum()
Spender_Purchase = Spender_Total / Spender_Count

Top_Spenders_df =pd.DataFrame({
                                "Purchase Count": Spender_Count,
                                "Average Purchase Price": Spender_Purchase,
                                "Total Purchase Value": Spender_Total})

Top_Spenders_df.sort_values(by=['Total Purchase Value'], inplace=True, ascending=False)
Top_Spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [130]:
Popular_Items = purchase_data_df.groupby(['Item ID', 'Item Name'])

Pop_Count = Popular_Items["Item ID"].count()
Pop_Price = Popular_Items["Price"].mean()
Pop_Total = Pop_Count * Pop_Price

Most_Pop_df =pd.DataFrame({
                            "Purchase Count": Pop_Count,
                            "Item Price": Pop_Price,
                            "Total Purchase Value": Pop_Total})

Most_Pop_df.sort_values(by=['Purchase Count'], inplace=True, ascending=False)
Most_Pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [132]:
Most_Pop_df.sort_values(by=['Total Purchase Value'], inplace=True, ascending=False)
Most_Pop_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80